<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <title>언론기사</title>
<style>
    #circle{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: none;
	background-color: red;
	margin: 0;
	padding: 0;
}
#div1{
  background-image:url('/static/back_img/si.png');
  /* background-repeat:no-repeat; */
  /* background-size:cover; */
  width:100%;
  height:140px;
}
</style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
    
      $(document).click(function(event){
            let txt=event.pageX + ' ' + event.pageY;
            $circle=$('#circle')
            $circle.css({ 
                'left':event.pageX - ($circle.outerWidth(true)/2),
                'top':event.pageY - ($circle.outerHeight(true)/2)
            });
            $circle.stop(true).fadeIn(100,function(){
                $circle.fadeOut(150)
            });
        });
        
    });
        </script>
<body>
    <div id="circle"></div>
    
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="background-color:yellow;height:65px">
        <li><a href="/index/" class="nav-link px-2 link-dark" style="font-size:28px;color:gray">HOME</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="/article/" class="nav-link px-2 link-dark" style="font-size:28px;color:gray">언론기사</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="/map/" class="nav-link px-2 link-dark"style="font-size:28px;color:gray">맛지도</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="/media/" class="nav-link px-2 link-dark"style="font-size:28px;color:gray">방송맛집</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="/blog/" class="nav-link px-2 link-dark"style="font-size:28px;color:gray">블로그픽</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="/house/" class="nav-link px-2 link-dark"style="font-size:28px;color:gray">맛집영상</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ul><br><br>
      
    <div align="center">
        <!-- <a href="/#/"><img src="/static/img/lunch.png" alt="lunch"></a> -->
          <b style="font-size:50px;color:gray">언론기사 TOP7 </b>
    </div>
    <br><br>
    <div align="center">
        <table  style="width:1000px;font-size:20px;">

            <tr>
                <td>
                    <img src="/static/img/altang.png" style="width:300px;height:300px" alt="a">
                </td>
                <td><b>1. 찬바람 불면 자동으로 찾게 되는, 장안동 '해물알탕전문'</b><br>
                    위치: 서울 동대문구 장한로2길 7<br>
                    영업시간: 평일 15:00 - 24:00, 주말 13:00 - 24:00, 1/3번째 월요일 휴무<br>
                    가격: 해물알탕(소) 28,000원, 해물알탕(중) 36,000원, 해물알탕(대) 45,000원<br>
                    후기 : 전농동에서 인기를 끌다 장한평역 인근으로 이전해 한결 넓고 깨끗한 공간에서 알탕을 즐길 수 있는 공간. 대표 메뉴인 ‘해물 알탕’은 알과 이리, 꽃게, 새우, 오만둥이, 바지락이 푸짐하게 들어있다. 콩나물과 무가 들어가 끓일수록 시원한 맛이 배어 나오는 국물 맛도 일품이다. 토실한 새송이버섯전과 오이소박이 등 곁들이는 반찬도 푸짐해 늘 손님이 많다.
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/eun.png" style="width:300px;height:300px"></td>
                <td><b>2. 민물새우로 감칠맛을 살린 맛, 광장시장 '은성횟집'</b><br>
                    위치: 서울 종로구 창경궁로 88<br>
                    영업시간: 매일 10:00 - 22:00<br>
                    가격: 대구매운탕(2인분) 26,000원<br>
                    후기 : 순희네 빈대떡과 그리 멀지 않은곳에 위치해있음. 광장시장엔 워낙 유명한 음식들이 많아서 대구매운탕을 먹어볼 기회가없었는데 이번기회에 먹어보았습니다! 역시나 남녀노소 할것없이 사람들이 많았고 가게 바깥에 세팅된 냄비가 쌓여있어요.덕분에 음식은 빨리나오네요. 공기밥은 추가주문이고 앉으면 주문하지않아도 인원에 맞게 알아서 나옵니다ㅋㅋ  </td>
            </tr>
            <tr>
                <td><img src="/static/img/super.png" style="width:300px;height:300px"></td>
                <td><b>3. 드디어 선보이는 샌프란시스코의 맛, 신논현 '슈퍼두퍼'</b><br>
                    위치: 서울 서초구 강남대로 463<br>
                    영업시간: 매일 10:30 - 22:30<br>
                    가격: 슈퍼 싱글 버거 8900원, 트러플버거 1만3900원, 슈퍼 더블 버거 1만3900원<br>
                    후기 : 한국에 상륙한 샌프란시스코 로컬 햄버거 브랜드로 샌프란시스코에 들렀다면 한번쯤 방문하길 추천받는 곳입니다. 신논현에 오픈한 1호점으로서 재료는 추가하거나 뺄 수 있으며 패티는 미디엄으로 구워지고 육즙이 많은 편입니다.</td>
            </tr> 
            <tr>
                <td><img src="/static/img/soul.png" style="width:300px;height:300px"></td>
                <td><b>4. 샴페인과 함께 즐기는 버거, 한남동 ‘인소울’</b><br>
                    위치: 서울 용산구 독서당로85<br>
                    영업시간: 매일 12:00 - 22:00 (B·T 15:00 - 18:00)<br>
                    가격: 소호버거 1만8000원, 소울버거 1만9000원, 로코모코 2만3000원<br>
                    후기 : 이속우화에서 마지막 버거가 맛있었던터라 좋은 기억을 안고 방문. 입구에 파도치는 그래픽이 아주 멋져요. 들어갈때부터 기분 전환되는 느낌. 버거라고 생각하면 좀 높은 코스트, 한우 요리로 생각하면 괜찮아요. 한번쯤은 가서 먹기 매우 좋다고 생각합니다.</td>
            </tr>  
            <tr>
                <td><img src="/static/img/madam.png" style="width:300px;height:300px"></td>
                <td><b>5. 태국으로 가는 가장 빠른 길, 가로수길 ‘마담타이’</b><br>
                    위치: 서울 강남구 논현로151길 55<br>
                    영업시간: 매일 11:30 - 21:00 (B·T 15:00 - 17:30)<br>
                    가격: 마담 매운 고기국수 1만3000원, 마담 팟타이 1만3000원, 마담 쏨땀 1만6800원<br>
                    후기 : 음식이 정말 신선하고 맛있어요! 그릇 바닥까지 싹싹 긁어먹었습니다… 고수 좋아하는데 고수 많이 주셔서 만족했구요! 창가자리 뷰가 진짜 좋아요 개방감 최고이며, 개인적으로 날씨가 좋을때 가시면 좋을거 같습니당</td>
            </tr>
            <tr>
                <td><img src="/static/img/dong.png" style="width:300px;height:300px"></td>
                <td><b>6. 재방문을 부르는 생선김치와 우럭탕, 수성구 '동해회집'</b><br>
                    위치: 대구 수성구 신매로16길 16-2<br>
                    영업시간: 변동<br>
                    가격: 천연 생선김치 5kg 75,000원, 횟대기 식해 1kg 35,000원<br>
                    후기 : 대구 수성구에 위치한 로컬의 진짜 맛집으로 알려진 회 전문점으로 가성비가 좋은 편에 속하며 사장님이 항상 친절하고 음식도 모든 메뉴가 고르게 맛있습니다. 깔끔하게 차려지는 상이 기분좋은 곳으로 지역 주민들이 즐겨찾는 곳입니다. </td>
            </tr>
            <tr>
                <td><img src="/static/img/suti.png" style="width:300px;height:300px"></td>
                <td><b>7. 부드러운 맛의 스테이크가 일품인, 여의도 더현대서울 ‘수티’</b><br>
                    위치: 서울 영등포구 여의대로 108 지하 1층
                    영업시간: 월~목 10:30 - 20:00, 금~일 10:30 - 20:30
                    가격: 수티 비프 25,000원, 수티 로스트 치킨 24,000원
                    후기 : 메인 메뉴는 수티 비프스테이크와 수티 로스 치킨 두 가지뿐임. 스테이크, 빵, 코우슬로가 함게 나오는 비프스테이크는 레어로 구워져 연한 육질과 촉촉한 육즙이 돋보였고 곁들어 나오는 빵과 함께 먹어도 맛있음.</td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="style.js" type="text/javascript"></script>
</html>