<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <title>블로거픽</title>
    <style>
        #circle{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: none;
        background-color: red;
        margin: 0;
        padding: 0;
    }
    #div1{
  background-image:url('/static/back_img/si2.png');
  
  /* background-repeat:no-repeat;
  background-size:cover; */
  width:100%;
  height:140px;
}
    </style>
    
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
    
      $(document).click(function(event){
            let txt=event.pageX + ' ' + event.pageY;
            $circle=$('#circle')
            $circle.css({ 
                'left':event.pageX - ($circle.outerWidth(true)/2),
                'top':event.pageY - ($circle.outerHeight(true)/2)
            });
            $circle.stop(true).fadeIn(100,function(){
                $circle.fadeOut(150)
            });
        });
        
    });
        </script>
<body>
    <div id="circle"></div>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="background-color:yellow;height:65px">
        <li><a href="/index/" class="nav-link px-2 link-dark" style="font-size:28px;color:gray">HOME</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="/article/" class="nav-link px-2 link-dark" style="font-size:28px;color:gray">언론기사</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="/map/" class="nav-link px-2 link-dark"style="font-size:28px;color:gray">맛지도</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="/media/" class="nav-link px-2 link-dark"style="font-size:28px;color:gray">방송맛집</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="/blog/" class="nav-link px-2 link-dark"style="font-size:28px;color:gray">블로그픽</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="/house/" class="nav-link px-2 link-dark"style="font-size:28px;color:gray">맛집영상</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ul><br><br>

    <div align="center">
        
         <b style="font-size:50px;color:gray">블로거픽 TOP8 </b>
    </div>

    <br><br>

    <div align="center">
        <table  style="width:1000px;font-size:20px;">

            <tr>
                <td>
                    <img src="/static/img/miso.png" style="width:300px;height:300px;">
                </td>
                <td ><b>1. 정미소를 개조한 아늑한 전주 '색장정미소'</b><br>
                    위치 : 전북 전주시 완산구 원색장길 2-15<br>
                    영업시간 : 매일 11:00 - 21:00         <br>
                    가격 : 자몽보숭이 7,000원, 아메리카노 5,000원<br>
                    후기 : 전주에 위치한 '색장정미소'는 어딜 찍어도 그림같은 사진을 연출 할 수 있다. 100년 된 정미소를 복원한 카페로 내부에는 다양한 골동품들이 전시되어 있는데, 인생 샷 건지기에 좋은 곳이다. 수많은 골동품으로 인해 '시간여행'을 하는 듯한 착각을 불러 일으키는 곳. 2층 빨간 양철지붕 위는 빠질 수 없는 포토존이기에 방문하면 꼭 사진 한 장은 챙겨 가보자.
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/static/img/hosu.png" style="width:300px;height:300px">
                </td>
                <td><b>2. 졸졸 흐르는 물소리 들으며, 경기 포천 '은빛호수'</b><br>
                    위치 : 경기 포천시 군내면 청군로2864번길 22-2<br>
                    영업시간 :  매일 11:00 - 19:00, 예약필수<br>
                    가격 : 한방백숙 69,000원, 옻닭 69,000원, 닭도리탕 69,000원<br>
                    후기 : 햇빛 쨍쨍할 때도 그늘 아래서 발 담그고 시원하게 먹을 수 있어서 좋아요. 아이도 반려동물도 모두 OK! 예약 필수이며 3시간 제한 있으니 참고하세요!                
                </td>
            </tr>
            
            <tr>
                <td>
                    <img src="/static/img/holim.png" style="width:300px;height:300px">
                </td>
                <td><b>3. 호림식당</b><br>
                    위치 : 제주 서귀포시 부두로 45<br>
                    영업시간 :  매일 10:00 - 22:00<br>
                    가격 : 갈치조림 50,000~70,000원, 모듬회 한상차림 130,000원<br>
                    후기 : 겨울철에 맛볼 수 있는 아귀 코스요리가 있는 곳. 아귀를 회, 샤브, 찜으로 맛볼 수 있는 희귀한 보석 같은 집이랍니다. 아귀철이 아닐때는 생선 조림을 택해도 좋아요.            
                </td>
            </tr>
            
            <tr>
                <td>
                    <img src="/static/img/pasta.png" style="width:300px;height:300px">
                </td>
                <td><b>4. 트러플 파스타를 만원도 안되는 가격에? , 연남동 '이석덕생면파스타'</b><br>
                    위치 : 서울 마포구 동교로51길 111<br>
                    영업시간 :  11:30~22:00 (월요일 휴무)<br>
                    가격 : 움브리아 생트러플 크림 파케리 8,900원, 오레키에테 알라 콘타티노 5,900원<br>
                    후기 : 가장 기본 파스타는 3,900원. (ㅇㅁㅇ)!!! 가격은 저렴하지만 자부심을 갖고 운영하는 곳. 생면이라 쫄깃해요            
                </td>
            </tr>
            
            <tr>
                <td>
                    <img src="/static/img/haemool.png" style="width:300px;height:300px">
                </td>
                <td><b>5. 바다를 담은 한 그릇, 통영 서호동 ‘심가네 해물짬뽕’</b><br>
                    위치 : 경남 통영시 새터길 74-4<br>
                    영업시간 :  10:00~20:00 (B/T 15:00~17:00. 매주 화요일 휴무)<br>
                    가격 : 해물짬뽕 9,500원, 심가네해물특짬뽕(2인분. 29,000원)<br>
                    후기 : 국물맛이 아좋 좋아요 해물도 많이 들어있구요 짬뽕 2단계 먹었는데 맵네요..</td>
            </tr>
            
            <tr>
                <td>
                    <img src="/static/img/jung.png" style="width:300px;height:300px">
                </td>
                <td><b>6. 고소한 감칠맛과 부드러움을 극대화한 육회! 청도 고수리 ‘정우숯불가든’</b><br>
                    위치 : 경북 청도군 청도읍 청화로 252<br>
                    영업시간 : 매일 11:00 – 21:00, 비정기 휴무<br>
                    가격 : 육회 비빔밥 13,000원, 육회 냉면 13,000원<br>
                    후기 : 경북 청도는 소싸움도 유명하지만 육회 비빔밥집이 많습니다. 한자리에서 20년 운영한 식당이라 믿고 방문했네요. 육회 비빔밥은 다른 곳에서 먹던 것보다 고기가 훨씬 푸짐하게 올려져 있었습니다. 육회 냉면도 은근 조합이 좋더라고요.
                </td>
            </tr>
            
            <tr>
                <td>
                    <img src="/static/img/jook.png" style="width:300px;height:300px">
                </td>
                <td><b>7. 약선 요리 분야 1호 명인이 선보이는, 양산 대석리 ‘죽림산방’</b><br>
                    위치 : 경남 양산 상북면 대석2길 13<br>
                    영업시간 :  매일 11:30 - 21:00, B/T 15:00 - 17:00, 월요일 휴무<br>
                    가격 : 죽림산방 정찬 25,000원, 약선용궁탕(3~4인) 40,000원<br>
                    후기 : 교통 편은 불편한듯합니다. 자가용으로 네비 믿고 찾아가도 알쏭달쏭. 들어가는 초입 길이 차 한 대가 겨우 들어갈 좁은 길이라 이길이 맞나? 의심하게 만드는. 그러나 죽림산방에 들어서는 순간 찾아오는 피곤함이 씻겨 나갑니다. 사장님이 꽃을 좋아하셔서 꽃도 많고 바로 옆 대숲의 경관도 좋습니다. 무엇보다 음식이 정말 정갈하고 맛있습니다. 약이 되는 음식 맞습니다.
                </td>
            </tr>
            
            <tr>
                <td>
                    <img src="/static/img/gaya.png" style="width:300px;height:300px">
                </td>
                <td><b>8. 채소와 물로만 삶아 낸 건강한 생 족발! 김해 외동 ‘가야양념족발’</b><br>
                    위치 : 경남 김해 분성로 54<br>
                    영업시간 :  매일 12:00 - 00:00, 비정기 휴무<br>
                    가격 : 왕족발(中) 32,000원, 매운 양념족발(中) 35,000원<br>
                    후기 : 김해에서 엄청 유명하다! 기본 찬도 엄청 푸짐하게 나오는데 다 맛깔지다~ 족발이 과한 단맛이나 한약 냄새 없이 본연의 맛을 끌어올린 느낌! 막국수도 채소 아낌없이 들어있고 양도 푸짐했다~
                </td>
            </tr>
            
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="style.js" type="text/javascript"></script>
</html>