#chatbot {
    width: 70%;
    height: 600px;
    margin-left: 15%;
    
}

#result_form {
    float: left;
    width: 50%;
    position: relative;
    background-color: pink;
    height: 600px;
    animation:slide1 2s;
}

#chat_form {
    float: left;
    width: 50%;
    position: relative;
    background-color: skyblue;
    height: 600px;
    animation: slide2 2s;
}

#chatbox {
    height:550px;
    background-color: skyblue;
    overflow-y:scroll;
    overflow-x:hidden;
    max-height:100vh;
    
}


@keyframes slide1 {
    from{
        left:-300px;
    }
    to{
        left:0px
    }
}
@keyframes slide2 {
    from{
        right:-300px;
    }
    to{
        right:0px
    }
}

/* 대문 css */
#first{
    background-image: url("/static/door_img/back.png");
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity:0.5;
    background-repeat:no-repeat;
    background-size:cover;
    animation:slide3 3s;
}

@keyframes slide3 {
    from {
        left:-300px;
        opacity:0;
    }
    to{
        left:0px;
        opacity:0.5;
    }
}

#second{
    /* background-image: url("/static/door_img/logo.png"); */
    position: absolute;
    opacity:0.9;
    left: 40%;
    top: 20%;
    animation: slide4 3s;
}

#third{
    /* background-image: url("/static/door_img/logo.png"); */
    position: absolute;
    left: 46%;
    top: 60%;
    animation: slide5 3s;
}
@keyframes slide4 {
    from {
        top:-100px;
        opacity:0;
    }
    to{
        top:175px;
       opacity:0.9; 
    }
}
@keyframes slide5 {
    from {
        left:0px
        
    }
    to{
        left:46%
        
    }
}